* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
:root {
  --white: #ffffff;
  --light-color: #f5f5f5;
  --low-priority: #848191;
  --primary-color: #7562e0;
  --secondary-color: #282162;
  --grey: #31313f;

  --dark-color: #000036;
  --section-background: #1a1a29;
  --main-font: 'Poppins', sans-serif;
}
.container {
  max-width: 1066px;
  margin: 0 auto;
}
/* 
==========
Components
==========
*/
.hidden {
  display: none;
}
.section-heading {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
}

.btn {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: var(--white);
  width: 160px;
  height: 48px;
  border-color: transparent;
  border-radius: 8px;
  padding: 12px 25px;
  background: var(--primary-color);
  font-family: var(--main-font);
}
/* 
==========
Header
==========
*/
/* add position fixed on scroll */
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 1rem;
  background: #181824;
  font-family: var(--main-font);
  font-weight: 600;
  box-shadow: 5px 5px 15px 5px #000000;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  /* font-size: 26px; */
  color: var(--primary-color);
}
.navbar {
  color: var(--white);
}
.mobile-btn {
  display: none;
  font-size: 2rem;
  color: var(--primary-color);
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: var(--white);
  font-size: 18px;
  padding: 0 1rem;
  transition: 400ms;
  cursor: pointer;
}
.navbar a:hover {
  color: var(--primary-color);
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
/* 
==========
Mobile Nav
==========
*/
.mobile-nav {
  background: var(--section-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  border-right: 3px solid var(--primary-color);
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav ul {
  padding-top: 35px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.mobile-nav a {
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  padding: 20px 0;
  padding-left: 5%;
  transition: 700ms;
}
.mobile-nav a:hover {
  color: var(--primary-color);
  background: var(--grey);
}
/* 
==========
Hero Section
==========
*/
.hero-section {
  background: var(--section-background);
}
.hero-content {
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 773px) {
  .hero-content {
    flex-direction: column;
    justify-content: center;
  }
  .hero-img {
    margin-top: 30px;
  }
  .about-btn {
    margin-bottom: 10px;
  }
  .section-heading {
    text-align: center;
  }
  .tech-grid {
    justify-content: center;
  }
}
.hero-text {
  font-family: var(--main-font);
}
.hero-text span {
  vertical-align: top;
  font-size: 32px;
  line-height: 48px;
}

.hero-text h1 {
  line-height: 78px;
  font-size: 52px;
}
.hero-text p {
  font-size: 18px;
  margin: 12px 0;
}
.about-btn {
  margin-right: 32px;
}
.projects-btn {
  border: solid 2px var(--primary-color);
  background: var(--section-background);
}
/* add hero img container and make img width 100% */
.hero-img {
  height: 444px;
  border-radius: 35px;
  width: 100%;
  object-fit: cover;
}
.divider {
  background: #181824;
  width: 100%;
  height: 128px;
}
/* 
==========
About section
==========
*/
.about-section {
  background: var(--section-background);
}
.about-content {
  padding-top: 55px;
}
.about-content p {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
}
/* 
==========
Tech Section
==========
*/
.tech-section {
  background: var(--section-background);
}
/* add justify center on smaller screens */
.tech-grid {
  padding-top: 58px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.tech-card {
  width: 256px;
  height: 254px;
  background: var(--low-priority);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  color: var(--white);
  text-transform: uppercase;
}
.tech-card span {
  display: block;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  margin: 14px 101px 24px 24px;
  line-height: 36px;
}
.tech-img {
  width: 55px;
  height: 55px;
  margin: 97px 190px 8px 24px;
}
/* 
==========
Services section
==========
*/
.services-section {
  background: var(--section-background);
}
.services-section .section-heading {
  padding-top: 80px;
  padding-bottom: 32px;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  place-items: center;
  row-gap: 16px;
}
@media screen and (max-width: 1025px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 686px) {
  .services-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  height: 338px;
  border: 3px solid var(--primary-color);
  border-radius: 16px;
  background: var(--section-background);
  color: white;
}

.services-card span {
  text-transform: uppercase;
  margin-top: 8px;
  color: white;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  /* align-items: center; */
  /* display: block; */
}
.services-card p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  padding-bottom: 75px;
  width: 296px;
  height: 64px;
}
.services-img {
  width: 55px;
  height: 55px;
}
/* 
==========
Projects section
==========
*/
.projects-section {
  background: var(--section-background);
}
.projects-section .section-heading {
  padding-top: 80px;
  margin-bottom: 16px;
}
.project-text {
  font-size: 18px;
  color: var(--white);
  font-family: var(--main-font);
  margin-bottom: 36px;
}
.projects-grid {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.projects-card {
  flex-direction: column;
  border-radius: 8px;
  width: 320px;
  height: 417px;
  background: var(--grey);
}
.projects-card img {
  /* width: 311px; */
  width: 100%;
  height: 173px;
}
.projects-img-container {
  padding: 16px;
}
.projects-card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.projects-card-content p {
  font-family: var(--main-font);
  color: var(--white);
  width: 303px;
  height: 81px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  margin: 0 auto;
  margin-bottom: 24px;
}
.projects-card-content span {
  padding-left: 10px;
}

.projects-heading {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--primary-color);
  font-size: 24px;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.btn-container button {
  width: 145px;
  height: 43px;
  padding: 0;
}

/* 
==========
Contact section
==========
*/
.contact-section {
  background: var(--section-background);
}
.contact-grid {
  padding-top: 128px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact-text {
  font-size: 18px;
  color: var(--white);
  font-family: var(--main-font);
}

.social-icon {
  padding: 16px;
  padding-left: 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
form {
  width: 100%;
}
form :nth-child(3) {
  height: 98px;
}
.form-heading {
  font-size: 24px;
  color: var(--white);
  font-family: var(--main-font);
}
.form-input {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 472px;
  width: 100%;
  height: 62px;
  border: transparent;
  background: var(--grey);
}
